:root{
    --color1:rgb(248, 226, 230);
    --color2:rgb(243, 100, 195);
    --color3:#feffbc;
    --color4:black;
    --color5:pink;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--color1);
}

.grid-container{
    display: grid;
    grid-template-areas: 
    "header header"
    "section section"
    "article aside"
    "footer footer";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    width: 70%;
    margin-left: 200px;
    justify-items: center
}

.header{
    width: 100%;
    padding: 20px 0;
    grid-area: header;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: var(--color1);
}

.header h1{
    font-size: 60px;
    margin-bottom: 10px;
}

.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    gap: 30px;
}

.nav ul li a{
    text-decoration: none;
    color: var(--color4);
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    transition: opacity 0.3s ease;
}

.nav ul li a:hover{
    opacity: 0.6;
}

.nav ul li a.active {
    border-bottom: 2px solid var(--color4);
}


.nav ul li a.active:hover {
    border-bottom-color: var(--color4);
    opacity: 0.6;
}

.section{
    grid-column: 1 / -1; 
    width: 90%;
    background-color: var(--color2);
    text-align: center;
    padding: 20px 0;
    margin-top: 140px;
    margin-right: 300px;
    margin-left: 290px;
    color: white;
}

.section h3{
    padding-top: 20px; 
}

.article{
    grid-area: article;
    margin-left: 120px;
    margin-right: 125px;
    padding-left: 15%;
    width: 120%;
    padding-left: 110px;

}

.article h4{
    margin-top: 10px;
    padding-bottom: 15px;
    text-align:left;
}

.article p{
    text-align: justify;
    margin-top: 20px;
    padding-left: 20px;
    
}

.article img{
    width: 46%;
    margin-left: 22px;
    margin-bottom: 10px;
    gap: 5px;
}

.aside{
    grid-area: aside;
    padding-top: 10px;
    width: 55%;
    margin-left: 50px;
}

.aside h4{
    text-align: center;
    margin-bottom: 5px;
}

.aside img{
    width: 165px;
    height: 380px;
}

.footer{
    grid-area: footer;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 700px;
    margin-right: 10px;
    margin-left: 35px;
}

.footer p{
    text-align: center;
    background-color: var(--color2);
    color: white;
    margin-right: 35px;
    margin-left: 30px;
    width: 90%;
    padding: 10px;
}

.footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style-type: none;
    padding-top: 15px;
    margin: 10px 0 0 0;
}


.footer ul li a{
    color: var(--color4);
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.footer ul li a i {
    font-size: 20px; 
}

.footer ul li a:hover{
    opacity: 0.6;
}

#contenedor{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    background: url(descarga\ \(24\).jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    padding: 200px;
    width: 100%;
    overflow: hidden;
}

header{
    text-align: center;
    margin: 5px;
    color: var(--color1);
}

header h1{
    font-size: 60px;
    padding: 20px;
}

header h3{
    padding-left: 100px;
    padding-right: 100px;
}

section img{
    width: 30%;
}

nav{
    width: 100%;
    height: 100%;
    margin:20px 0;
    font-weight: bold;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: var(--color5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 0px 10px;
    gap: 5px;
}

nav li a:hover{
    color:rgb(243, 83, 190);
    transform: scale(1.01);
    position: relative;
    top: -1.5px; 
}

footer{
    width: 100%;
    margin-top: auto;
    text-align: center;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    padding: 0;     
}

footer ul li{
    list-style-type: none;
}

footer ul li a{
    text-decoration: none;
    color: var(--color5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    padding: 0 5px;
    gap: 5px; 
}

footer li a:hover{
    color:rgb(243, 83, 190);
    position: relative; 
}

footer ul li a i {
    font-size: 20px; 
}

hr{
    border: none;
  height: 3px;    
  background-color: var(--color2);
  width: 92%;
  margin-left: 30px;
  margin-bottom: 5px;
}

.caratula{
    grid-column: 1 / -1; 
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 15px;
}

.caratula img {
    width: 100%;        
    max-width: 800px; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.contenido{
  width: 80%;
  margin: 40px auto;
  text-align: justify;
  grid-column: 1 / -1; 
}

.noticia{
    width: 60%;
    margin-left: 275px;
}

.noticia h2 {
  text-align: center;
  margin: 15px 0;
  padding-left: 300px;
  padding-right: 150px;
    color: var(--color4);
}

.encabezado{
    text-align:center;
    align-items: center;
    display: flex;
    
}

.encabezado img {
float: right;
height: 70px;
width: 70px;
border-radius: 50%;
object-fit: cover;
margin-bottom: 10px;
}

.subtitulo{
    margin-bottom: 20px;
}

.subtitulo p{
    float: right;
    font-size: small;
    text-align: center;
    font-style: oblique;
}

.encabezado p{
    text-align: right;
}

.texto p {
  text-align: justify;
}

.bloque1 img{
    width: 30%;
    float: left;
    margin-right: 15px;
}

.bloque2 img{
    width: 30%;
    float: right;
    margin-left: 15px;
}

.galeria{
    display: flex;
  flex-wrap: wrap;        
  justify-content: center; 
  margin-top: 120px;  
  margin-left: 200px;
  margin-right: 200px;
  gap: 30px;           
  padding: 40px;
  text-align: center;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.item img{
    width: 100%;
  height: 180px;
  object-fit: cover;
  opacity: 0.5;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
  transition: opacity 0.3s ease;
}

.item img:hover {
  opacity: 1;
}

.item p {
  margin-top: 10px;
  color: var(--color4);
}

.pie{
  width: 100%;
    margin-top: auto;
    margin-bottom: 500px;
    text-align: center;
}

.pie ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    padding: 0;     
}

.pie ul li{
    list-style-type: none;
}

.pie ul li a{
    text-decoration: none;
    color: var(--color4);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    padding: 0 5px;
    gap: 5px;
    transition: opacity 0.3s ease;
}

.pie li a:hover{
    opacity: 0.6;
    position: relative; 
}

.pie ul li a i {
    font-size: 20px; 
}

.intro {
  text-align: center;
  margin-top: 150px;
  padding: 30px 250px;
  color: var(--color4);
}

.intro h2 {
  color: var(--color2);
  margin-bottom: 10px;
}

.intro p {
  text-align: left;
  line-height: 1.6;
padding: 10px 30px;
}

.videos{
    display: flex;
  flex-wrap: wrap;        
  justify-content: center;  
  margin-left: 200px;
  margin-right: 200px;
  gap: 30px;           
  text-align: center;
}

.muestra iframe{
margin-bottom: 20px;
box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.muestra p{
    text-align: left;
    margin-left: 200px;
    margin-right: 200px;
}

.info{
  margin: 170px auto 20px auto;
  width: 80%;
  background: linear-gradient(rgb(248, 150, 166),pink, white);
  padding-top: 30px;
  box-sizing: border-box;
}

.dato{
    display: grid;
  grid-template-columns: 1fr 1fr;
   margin-left: 100px;
   margin-right: 80px;
  gap: 40px;
  align-items: flex-start;
  text-align: center;
}

.tabla table{
  border: 3px solid pink;
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.tabla th,
.tabla td {
  border: 1px solid var(--color2);
  padding: 10px;
  text-align: left;
}

.tabla th {
  background-color: var(--color2);
  color: white;
}

.tabla img {
  width: 70%;
  margin-top: 15px;
  border: 3px solid white;
}

.formulario {
  min-width: 350px;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
}

.formulario label {
  font-weight: bold;
}

.formulario form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formulario input,
.formulario textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--color2);
  border-radius: 5px;
  box-sizing: border-box;
}

.btn {
  margin-top: 10px;
  background-color: var(--color2);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: deeppink;
}

.mapa {
  width: 100%;
  text-align: center;
   grid-column: 1 / -1; 
  
}

.mapa h3{
    background-color: var(--color2);
    color: white;
    padding: 10px;
    width: 100%;
    display: inline-block;
  margin-bottom: 20px;
}

.mapa iframe {
  width: 95%;
   height: 400px;
}